# Obtenção dos Dados:

Este projeto foi inspirado pelas atividades previamente realizadas por [Kizzy Terra](#https://github.com/kterra) e os dados utilizados estão neste [repositório](#https://github.com/kterra/ciencia-de-dados-aplicada), que segundo a própria autora foram dados obtidos pelo PRODES.

_"O projeto PRODES realiza o monitoramento por satélites do desmatamento por corte raso na Amazônia Legal e produz, desde 1988, as taxas anuais de desmatamento na região, que são usadas pelo governo brasileiro para o estabelecimento de políticas públicas."_ - [Coordenação Geral de Observação da Terra INPE](#http://www.obt.inpe.br/OBT/assuntos/programas/amazonia/prodes#:~:text=O%20projeto%20PRODES%20realiza%20o,o%20estabelecimento%20de%20pol%C3%ADticas%20p%C3%BAblicas.)

In [11]:
from modules import *

# DATASETS = [pd.read_csv(f'../Data/DesmatamentoMunicipios20{digits}.txt', sep=',', encoding='iso-8859-1') for digits in range(0,18)]
DATASETS = []

for i in range(0,19):
    a = '../Data/2000_2018/DesmatamentoMunicipiosAM2000.txt'
    if i < 10: DATASETS.append(pd.read_csv(f'../Data/2000_2018/DesmatamentoMunicipiosAM200{i}.txt', sep=',', encoding='iso-8859-1'))
    elif i>=10: DATASETS.append(pd.read_csv(f'../Data/2000_2018/DesmatamentoMunicipiosAM20{i}.txt', sep=',', encoding='iso-8859-1'))
     

type(DATASETS[0])

pandas.core.frame.DataFrame

**DATASETS** é uma lista com 19 dataframes com as informações dos arquivos que estão no diretório _`../Data/2000_2018`_

In [8]:
DATASETS[0].sample(3)

,Nr,Lat,Long,Latgms,Longms,Municipio,CodIbge,Estado,AreaKm2,Desmatado2000,Incremento19992000,Floresta2000,Nuvem2000,NaoObservado2000,NaoFloresta2000,Hidrografia2000,Soma
17,18,-6.83379,-60.23604,S 6 50 1.64,O 60 14 9.74,Novo Aripuanã,1303304,AM,41452,534.7,NaN,38526.6,0.0,27.9,1620.2,742.6,100
19,20,-4.02487,-58.58633,S 4 1 29.53,O 58 35 10.79,Nova Olinda do Norte,1303106,AM,5625,359.2,NaN,4553.5,0.0,0.3,281.0,431.0,100
7,8,-2.85099,-58.49614,S 2 51 3.56,O 58 29 46.10,Silves,1304005,AM,3758,389.2,NaN,2641.4,0.0,0.0,128.7,598.7,100

In [9]:
DATASETS[1].sample(3)

,Nr,Lat,Long,Latgms,Longms,Municipio,CodIbge,Estado,AreaKm2,Desmatado2001,Incremento20002001,Floresta2001,Nuvem2001,NaoObservado2001,NaoFloresta2001,Hidrografia2001,Soma
55,56,-3.83163,-59.45109,S 3 49 53.87,O 59 27 3.92,Autazes,1300300,AM,7636,1009.6,29.0,5146.1,0.0,0.1,464.3,1015.9,99
31,32,-2.54458,-58.65656,S 2 32 40.49,O 58 39 23.62,Itapiranga,1302009,AM,4245,121.2,8.7,3795.8,0.0,0.0,155.6,172.4,100
30,31,-1.38598,-68.79404,S 1 23 9.53,O 68 47 38.54,Japurá,1302108,AM,57555,45.3,1.8,55886.7,1.9,98.3,2.6,1520.2,99